<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Database.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Recipes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1844BBB423EB6C5000A4BF6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844BBCA23EB6C5300A4BF6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187CBF6F23EE12EF001AED72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187E128F23EEA31300B544F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187E12DC23EF0BA700B544F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
